<div id="main_download">
    <div id="main_download-left">
        <div id="main_download-form">
            <form action="" onsubmit="return false;">
                <div class="form-group">
                    <label for="url">
                        Url
                    </label>
                    <input name="url" type="text" placeholder="https://www.youtube.com/watch?v=C5fLxtJH2Qs">
                </div>
                <div class="form-group">
                    <label for="title">
                        Titre
                    </label>
                    <input name="title" type="text" placeholder="Egzod & Maestro Chives - Royalty (ft. Neoni)">
                </div>

                <button btn-add-list="" class="btn">
                    Ajouter à la liste
                </button>
            </form>

            <div drag-and-drop-zone="" class="file-container">
                <label for="dropzone-file">
                    <div>
                        <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <b>Importer une liste</b>
                        <p class="first">
                            <span>Click to upload</span> or drag and drop
                        </p>
                        <p class="second">JSON (Slyhear.json)</p>
                    </div>
                    <input input-dropzone="" id="dropzone-file" type="file" accept="application/json" hidden="" />
                </label>
            </div>

            <button btn-dl-exemple="" class="btn fit">
                Télécharger un exmple de JSON
            </button>
            <a link-dl-exemple=""></a>
        </div>

        <div id="waiting-msg">
            {{!--  --}}
        </div>
    </div>

    <div id="main_download-list">
        <ul id="link_list" data-slyher-list="">
            {{#if list}}
                {{#each list}}
                    <li data-link-id="link_{{id}}">
                        <div>
                            <h3>{{title}}</h3>
                            <p>{{url}}</p>
                        </div>
                        <div class="trash-list">
                            <button data-trash="" data-trash-id="{{id}}">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <div id="none-list" class="none-list">
                    <i class="far fa-frown"></i>
                    <p>Votre liste est vide</p>
                </div>
            {{/if}}
        </ul>

        <div id="download-list-btn">
            <button btn-download-list="" class="btn">
                Télécharger la liste
            </button>
        </div>
    </div>

    <div id="downloader" class="downloader none">
        <p>
            Téléchargement en cours...
        </p>
        <div id="downloader-loader" class=""></div>
    </div>
</div>

<script type="module" src="/js/download.mjs"></script>