<div id="main_library">
    <div id="nav-library">
        <div class="conteinr-btn-list">
            <button class="btn-style-list active" type="gird">
                <i class="fas fa-th-large"></i>
            </button>
            <button class="btn-style-list" type="list">
                <i class="fas fa-th-list"></i>
            </button>
        </div>
    </div>

    <ul id="library_sounds" class="grid">
        {{#each tracks}}
        <li data-tracks-id="{{id}}">
            <button class="delete_btn" track-id="{{id}}">
                <i class="fas fa-trash-alt"></i>
            </button>
            {{#if image}}
                <img src="data:image/jpeg;base64,{{image}}" alt="{{title}}">
            {{else}}
                <img src="/img/_default.jpg" alt="Jaquette par défaut Slyhear">
            {{/if}}
            <h2>
                {{title}}
            </h2>
        </li>
        {{/each}}
    </ul>
</div>

<script type="module" src="/js/library.mjs"></script>