<div id="main_library">
    <div id="nav-library">
        <div class="conteinr-btn-list">
            <button class="btn-style-list" type="grid">
                <svg xmlns="http://www.w3.org/2000/svg" width="729" height="717" viewBox="0 0 729 717" fill="none">
                    <path d="M233.708 16.2136C245.891 3.14924 264.118 -2.42334 281.523 1.59502L595.529 74.0889C612.934 78.1072 626.874 91.106 632.096 108.189L726.318 416.372C731.54 433.455 727.253 452.026 715.07 465.091L495.286 700.78C483.103 713.845 464.876 719.417 447.471 715.399L133.465 642.905C116.06 638.887 102.12 625.888 96.8976 608.805L2.67647 300.622C-2.54625 283.539 1.74129 264.968 13.924 251.903L233.708 16.2136Z" fill=""/>
                </svg>
                <i class="fas fa-th"></i>
            </button>
            <button class="btn-style-list" type="list">
                <svg xmlns="http://www.w3.org/2000/svg" width="729" height="717" viewBox="0 0 729 717" fill="none">
                    <path d="M233.708 16.2136C245.891 3.14924 264.118 -2.42334 281.523 1.59502L595.529 74.0889C612.934 78.1072 626.874 91.106 632.096 108.189L726.318 416.372C731.54 433.455 727.253 452.026 715.07 465.091L495.286 700.78C483.103 713.845 464.876 719.417 447.471 715.399L133.465 642.905C116.06 638.887 102.12 625.888 96.8976 608.805L2.67647 300.622C-2.54625 283.539 1.74129 264.968 13.924 251.903L233.708 16.2136Z" fill=""/>
                </svg>
                <i class="fas fa-list"></i>
            </button>
        </div>
    </div>

    <ul id="library_sounds" class="list">
        {{#each tracks}}
            <li data-tracks-id="{{id}}">
                <button class="delete_btn" track-id="{{id}}">
                    <i class="fas fa-trash-alt"></i>
                </button>

                {{!-- <button class="update-btn" track-id="{{id}}">
                    <i class="fas fa-pen"></i>
                </button> --}}

                {{#if imgPath}}
                    <img src="{{imgPath}}" alt="{{title}}">
                {{else}}
                    <img src="/img/_default.jpg" alt="Jaquette par défaut Slyhear">
                {{/if}}
                <h2>
                    {{title}}
                </h2>
            </li>
        {{/each}}
    </ul>
</div>

<script type="module" src="/js/library.mjs"></script>