<div id="player-bloc">

    <div class="player">
        <img src="/img/_default.jpg" alt="jaquette de musique" height="200">

        <audio id="audio" src=""></audio>

        <div class="progress">
            <input type="range" id="progress-bar" value="0" max="100">
        </div>

        <div class="controls">
            <button id="prev">
                <i class="fas fa-step-backward"></i>
                <p>
                    Précédent
                </p>
            </button>
            <button id="play">
                <i class="fas fa-play"></i>
                <p>
                    Play
                </p>
            </button>
            <button id="pause">
                <i class="fas fa-pause"></i>
                <p>
                    Pause
                </p>
            </button>
            <button id="stop">
                <i class="fas fa-stop"></i>
                <p>
                    Stop
                </p>
            </button>
            <button id="next">
                <i class="fas fa-step-forward"></i>
                <p>
                    Suivant
                </p>
            </button>
        </div>
    </div>


    <div id="list-player">
        <ul>
            {{#each tracks}}
                <li class="track" track-id="{{id}}" song-id="{{songId}}" track-color="{{color}}" track-title="{{title}}">
                    {{#if this.image}}
                        <img src="data:image/jpeg;base64,{{this.image}}" alt="Jaquette de {{this.title}}">
                    {{else}}
                        <img src="/img/_default.jpg" alt="Jaquette par défaut Slyhear">
                    {{/if}}
                    <p>
                        {{title}}
                    </p>
                </li>
            {{/each}}
        </ul>
    </div>


</div>

<script type="module" src="/js/player-current.mjs"></script>
<script type="module" src="/js/player.mjs"></script>
