<div id="player-bloc">
    <div class="player">
        <div id="img-container">
            <img id="player_img" src="/img/_default.jpg" alt="jaquette de musique">

            <div id="control_img">
                <img id="main_img" src="/img/_default.jpg" alt="jaquette">
                <div id="control_lecteur">
                    <audio id="audio" src=""></audio>
                    <div class="progress">
                        <input type="range" id="progress-bar" value="0" max="100">
                    </div>
                    <div class="controls">
                        <button id="prev" class="main-btn">
                            <i class="fas fa-step-backward"></i>
                            <p>
                                Précédent
                            </p>
                        </button>
                        <button id="play" class="main-btn">
                            <i class="fas fa-play"></i>
                            <p>
                                Play
                            </p>
                        </button>
                        <button id="pause" class="main-btn">
                            <i class="fas fa-pause"></i>
                            <p>
                                Pause
                            </p>
                        </button>
                        <button id="stop" class="main-btn">
                            <i class="fas fa-stop"></i>
                            <p>
                                Stop
                            </p>
                        </button>
                        <button id="next" class="main-btn">
                            <i class="fas fa-step-forward"></i>
                            <p>
                                Suivant
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="list-player">
        <ul>
            {{#each tracks}}
                <li class="track {{#if @first}}active{{/if}}" index="{{@index}}" track-id="{{id}}" song-id="{{songId}}" style="--i: {{color}};" track-color="{{color}}" track-title="{{title}}">
                    {{#if this.image}}
                        <img src="data:image/jpeg;base64,{{this.image}}" alt="Jaquette de {{this.title}}">
                    {{else}}
                        <img src="/img/_default.jpg" alt="Jaquette par défaut Slyhear">
                    {{/if}}
                    <p>
                        {{title}}
                    </p>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<script type="module" src="/js/player.mjs"></script>
